$blackColor: white;

body {
  background: $blackColor;

  margin: 0;
  
  .logo {
    position: fixed;
    top: 20px;
    left: 40px;
    z-index: 6;
    font-size: 20px;
    font-weight: 900;
    font-family: sans-serif;
    text-transform: uppercase;
    color: white;
    margin: 0;
    > span {
      text-transform: none;
      opacity: .5;
      font-weight: 300;
      font-size: 12px;
    }
  }
    input + label {
      position: fixed;
      top: 20px;
      right: 40px;
      height: 18px;
      width: 15px; 
      z-index: 5;
      span {
        position: absolute;
        width: 100%;
        height: 2px;
        top: 50%;
        margin-top: -1px;
        left: 0;
        display: block;
        background: $blackColor;
        transition: .5s;
      }
      span:first-child {
        top: 3px; 
      }
      span:last-child {
        top: 16px; 
      }      
    }
    label:hover {
      cursor: pointer;
    }
    input:checked + label { 
      span {
        opacity: 0;
        top: 50%;
      }
      span:first-child {
        opacity: 1;
        transform: rotate(405deg);
      }
      span:last-child {
        opacity: 1;
        transform: rotate(-405deg);
      }
    }
    input ~ nav {
      background: #ED2553;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 80px;
      z-index: 3;
      transition: .5s;
      transition-delay: .5s;
      overflow: hidden;
      > ul {
        text-align: center;
        position: absolute;
        top: 35%;
        left: 20%;
        right: 20%;
        > li {
          opacity: 0;
          transition: .5s;
          transition-delay: 0s;
          > a {
            text-decoration: none;
            text-transform: uppercase;
            color: $blackColor;
            font-weight: 700;
            font-family: sans-serif;
            display: block;
            padding: 30px;
            font-style: none;
          }
        }
      }
    }
    input:checked ~ nav { 
      height: 100%;
      transition-delay: 0s;
      > ul {
        > li {
          opacity: 1;
          transition-delay: .5s;
        }
      }
    } 
}
// slider
.slider {
//    background: url(329585.jpg);
        height: 650px;
        z-index: 1;
    
    margin: 57px 0 10px 0;
    img{
        height: 100%;
        width: 100%;
        object-fit: cover;
        // 
    }
   

   
   

}
.slider-text{
    
  
    position:absolute;
    padding: 400px 0 0 20px;
    color: white;
    top: 0px;
    left: 0px;
    
        h1{
            margin: 0;
    
        }
    button{
        

    --background: #ED2553;
    --text: #fff;
    --font-size: 16px;
    --duration: .44s;
    --move-hover: -4px;
    --shadow: 0 2px 8px -1px #{#ED2553};
    --shadow-hover: 0 4px 20px -2px #{#ED2553};
    --font-shadow: var(--font-size);
    padding: 16px 32px;
    font-family: 'Roboto';
    font-weight: 500;
    line-height: var(--font-size);
    border-radius: 24px;
    display: block;
    outline: none;
    text-decoration: none;
    font-size: var(--font-size);
    letter-spacing: .5px;
    background: var(--background);
    color: var(--text);
    box-shadow: var(--shadow);
    transform: translateY(var(--y)) translateZ(0);
    transition: transform var(--duration) ease, box-shadow var(--duration) ease;
   
    &:hover {
        --y: var(--move-hover);
        --shadow: var(--shadow-hover);
        span {
            --m: calc(var(--font-size) * -1);
        }
    }
    &.reverse {
        --font-shadow: calc(var(--font-size) * -1);
        &:hover {
            span {
                --m: calc(var(--font-size));
            }
        }
    }
}
    }
    
    .heroitems{
        margin: 80px 0 10px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        h1{
            margin: 0;
            text-align: center;
            color: #ED2553;

        }p{
            width: 80%;
            text-align: center;
        }
    }
    
    .slider-container{
        .slider-text{

            margin-left: 30px;
        }
        button{
            margin-top: 10px;
        }
    }
   
    //  Section 2
 .con{
     display: flex;
     justify-content: center;
     flex-wrap: wrap;
     align-items: center;
     margin-bottom: 80px;
     color: #fff;
     gap: 50px;
     
     h1{
        margin: 10px 0 0 0 ;
         text-align: center;

     }p{
         margin: 10px 0 0 0 ;
         font-size: 10px;
         text-align: center;
         

     }
     button{
        border: 2px solid white;
        background-color: transparent;
        padding: 5px;
       align-items: center;
        color: white;
        margin-top: 10px;
        font-weight: bold;
        font-size: 20px;
     }
     .card{
       .content{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        
        // margin-top: 10px;
    }
    background-color: #ED2553;
    border-radius: 5px;
    max-width: 240px;
    
    margin-top: 20px;

     }
     .poster{
         img{
             width: 240px;
             align-items: center;
             height: 340px;
             

         }
     }
 }
 .container{
     background-color: #ED2553;
     margin-top: 20px;
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     padding-bottom: 80px;
     gap: 20px;
 }
 .moivecontent{
    width: 520px;
    background-color: #fff;
    margin-top: 100px;
    padding-bottom: 20px;

 }
 .poster-large{
     display: flex;
     justify-content: space-around;
     h1{
         font-size: 30px;
         color: #ED2553;
         margin: 10px 0 0 0;
         
     }p{
         margin: 5px 0 0 0;
     }
     img{
         width: 300px;
            margin-top: 10px;
            margin-left: 10px;
        }
 
 }
 .poster-co{
     margin-left: 10px;
 }
 .bannercontent{
     margin-left: 20px;
     p{
         margin: 10px 0 0 0;
     }
 }
 .des{
     display: flex;
     justify-content: space-around;
     
     h6{
         background-color: #ED2553;
         padding: 10px;
         color: #fff;
         margin: 10px 0 0 0;
         border-radius: 20px;
     }

 }
.wNow{
    background-color: #ED2553;
    padding: 15px;
    color: #fff;
   
}
.woo{
    display: flex;
    justify-content: end;
    margin-right: 20px;
}
.comments{
    margin-top: 100px;
    color: #fff;
    gap: 20px;
    height: 500px;
    overflow-y:scroll;
    padding-left: 10px;
    h1{
        margin: 0;
    }

}
.comment{
    // margin-left: 20px;
    margin-top: 10px;
    border-bottom: 1px solid #fff;
    padding-bottom: 20px;
    .profile{
        display: flex;
    justify-content: flex-start;
    .comment-section{
        margin-left: 5px;
    }
    h3{
        margin: 0;
    }
    p{
        margin: 0;

    }
        img{
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }
    }
}
.commentDes{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    h6{
        margin: 10px 0 0 10px;
    }
}
.comment{
    form{
        display: flex;
        flex-direction: column;
        input[type=text], select {
            
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
          }
          
          input[type=submit] {
            
            background-color: #fff;
            color: #ED2553;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            border-radius: 4px;
            cursor: pointer;
          }
          
          input[type=submit]:hover {
            background-color: #45a049;
            color: #fff;
          }
    }
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
   .moivecontent{
       width: 95%;
       .poster-large{
           img{
               width: 200px;
           }
       }
   }
  }
  .commentSection{
      margin-left: 5px;
  }