body {
  background: white;
  margin: 0;
}
body .logo {
  position: fixed;
  top: 20px;
  left: 40px;
  z-index: 6;
  font-size: 20px;
  font-weight: 900;
  font-family: sans-serif;
  text-transform: uppercase;
  color: white;
  margin: 0;
}
body .logo > span {
  text-transform: none;
  opacity: 0.5;
  font-weight: 300;
  font-size: 12px;
}
body input + label {
  position: fixed;
  top: 20px;
  right: 40px;
  height: 18px;
  width: 15px;
  z-index: 5;
}
body input + label span {
  position: absolute;
  width: 100%;
  height: 2px;
  top: 50%;
  margin-top: -1px;
  left: 0;
  display: block;
  background: white;
  transition: 0.5s;
}
body input + label span:first-child {
  top: 3px;
}
body input + label span:last-child {
  top: 16px;
}
body label:hover {
  cursor: pointer;
}
body input:checked + label span {
  opacity: 0;
  top: 50%;
}
body input:checked + label span:first-child {
  opacity: 1;
  transform: rotate(405deg);
}
body input:checked + label span:last-child {
  opacity: 1;
  transform: rotate(-405deg);
}
body input ~ nav {
  background: #ED2553;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  z-index: 3;
  transition: 0.5s;
  transition-delay: 0.5s;
  overflow: hidden;
}
body input ~ nav > ul {
  text-align: center;
  position: absolute;
  top: 35%;
  left: 20%;
  right: 20%;
}
body input ~ nav > ul > li {
  opacity: 0;
  transition: 0.5s;
  transition-delay: 0s;
}
body input ~ nav > ul > li > a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-weight: 700;
  font-family: sans-serif;
  display: block;
  padding: 30px;
  font-style: none;
}
body input:checked ~ nav {
  height: 100%;
  transition-delay: 0s;
}
body input:checked ~ nav > ul > li {
  opacity: 1;
  transition-delay: 0.5s;
}

.slider {
  height: 650px;
  z-index: 1;
  margin: 57px 0 10px 0;
}
.slider img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.slider-text {
  position: absolute;
  padding: 400px 0 0 20px;
  color: white;
  top: 0px;
  left: 0px;
}
.slider-text h1 {
  margin: 0;
}
.slider-text button {
  --background: #ED2553;
  --text: #fff;
  --font-size: 16px;
  --duration: .44s;
  --move-hover: -4px;
  --shadow: 0 2px 8px -1px #ED2553;
  --shadow-hover: 0 4px 20px -2px #ED2553;
  --font-shadow: var(--font-size);
  padding: 16px 32px;
  font-family: "Roboto";
  font-weight: 500;
  line-height: var(--font-size);
  border-radius: 24px;
  display: block;
  outline: none;
  text-decoration: none;
  font-size: var(--font-size);
  letter-spacing: 0.5px;
  background: var(--background);
  color: var(--text);
  box-shadow: var(--shadow);
  transform: translateY(var(--y)) translateZ(0);
  transition: transform var(--duration) ease, box-shadow var(--duration) ease;
}
.slider-text button:hover {
  --y: var(--move-hover);
  --shadow: var(--shadow-hover);
}
.slider-text button:hover span {
  --m: calc(var(--font-size) * -1);
}
.slider-text button.reverse {
  --font-shadow: calc(var(--font-size) * -1);
}
.slider-text button.reverse:hover span {
  --m: calc(var(--font-size));
}

.heroitems {
  margin: 80px 0 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.heroitems h1 {
  margin: 0;
  text-align: center;
  color: #ED2553;
}
.heroitems p {
  width: 80%;
  text-align: center;
}

.slider-container .slider-text {
  margin-left: 30px;
}
.slider-container button {
  margin-top: 10px;
}

.con {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 80px;
  color: #fff;
}
.con h1 {
  margin: 10px 0 0 0;
  text-align: center;
}
.con p {
  margin: 10px 0 0 0;
  font-size: 10px;
  text-align: center;
}
.con button {
  border: 2px solid white;
  background-color: transparent;
  padding: 5px;
  align-items: center;
  color: white;
  margin-top: 10px;
  font-weight: bold;
  font-size: 20px;
}
.con .card {
  background-color: #ED2553;
  border-radius: 5px;
  max-width: 240px;
  margin-left: 50px;
  margin-top: 20px;
}
.con .card .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.con .poster img {
  width: 240px;
  align-items: center;
}

.container {
  background-color: #ED2553;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 80px;
}

.moivecontent {
  width: 520px;
  background-color: #fff;
  margin-top: 100px;
  padding-bottom: 20px;
}

.poster-large {
  display: flex;
  justify-content: space-around;
}
.poster-large h1 {
  font-size: 30px;
  color: #ED2553;
  margin: 10px 0 0 0;
}
.poster-large p {
  margin: 5px 0 0 0;
}
.poster-large img {
  width: 300px;
  margin-top: 10px;
  margin-left: 10px;
}

.poster-co {
  margin-left: 10px;
}

.bannercontent {
  margin-left: 20px;
}
.bannercontent p {
  margin: 10px 0 0 0;
}

.des {
  display: flex;
  justify-content: space-around;
}
.des h6 {
  background-color: #ED2553;
  padding: 10px;
  color: #fff;
  margin: 10px 0 0 0;
  border-radius: 20px;
}

.wNow {
  background-color: #ED2553;
  padding: 15px;
  color: #fff;
}

.woo {
  display: flex;
  justify-content: end;
  margin-right: 20px;
}

.comments {
  margin-top: 100px;
  color: #fff;
  margin-left: 20px;
  height: 500px;
  overflow-y: scroll;
  padding-left: 10px;
}
.comments h1 {
  margin: 0;
}

.comment {
  margin-left: 20px;
  margin-top: 10px;
  border-bottom: 1px solid #fff;
  padding-bottom: 20px;
}
.comment .profile {
  display: flex;
  justify-content: flex-start;
}
.comment .profile .comment-section {
  margin-left: 5px;
}
.comment .profile h3 {
  margin: 0;
}
.comment .profile p {
  margin: 0;
}
.comment .profile img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.comment-des {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.comment-des h6 {
  margin: 10px 0 0 10px;
}

.comment form {
  display: flex;
  flex-direction: column;
}
.comment form input[type=text], .comment form select {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.comment form input[type=submit] {
  background-color: #fff;
  color: #ED2553;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.comment form input[type=submit]:hover {
  background-color: #45a049;
  color: #fff;
}/*# sourceMappingURL=home.css.map */